<!DOCTYPE html>
<html>

<head>
  <title>Единая служба</title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
</head>

<body>
  <nav>
    <a href="http://localhost:3000/" class="header">Единая служба</a>
    <div>
      <a href="http://localhost:3000/new-app">Оформить заявку</a>
      <a href="http://localhost:3000/apps">Заявки</a>
      <a href="">Справочная</a>
    </div>
  </nav>

  <main>
    <img src="/images/call.png" alt="Call">
    <div class="text">
      <div class="text1">Приняли звонок?</div>
      <a href="http://localhost:3000/new-app">Оформите заявку!</a>
    </div>
    <div class="triangle"></div>
    <h2>Наиболее частые номера</h2>
    <div class="red-circle"></div>
    <div class="yellow-circle"></div>
    <div class="black-circle"></div>
    <div class="number-container">
      <div class="container">
        <div class="container_columns">
           <%NameArray.forEach(function(Name) {%>
            <div><%=Name%></div>
         <%});%>
          
         
        </div>
        <div class="container_columns">
          <%NumberArray.forEach(function(Number) {%>
            <div><%=Number%></div>
         <%});%>
        </div>
      </div>
    </div>
    <button class="numbers-btn">
      <a href="">Больше номеров</a>
    </button>
  </main>
</body>

</html>